
.top{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}
#left{
    flex:1;
    margin:20px;
    height: 100%;
    overflow: auto;
}
#right{
    flex: 1;
}
#image{
    width: 500px;
    height: 500px;
    background-color: black;
    border:5px solid;
    border-color: black;
    margin: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.element{
    border-color: black;
    border: 2px solid;
    margin: 20px 0px;
    padding: 20px;

}
.element:hover{
    border-color: aqua;
}
#btns{
    display: flex;
    flex:1;
    justify-content: center;
}
button{
    margin: 10px;
    padding: 20px;   
}
button:hover{
    background-color:aqua ;
}
#TempText{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: xx-large;
}
#CurrentEleHead{
    display: flex;
    justify-content: space-between;
}
.status_Criminal{
    background-color: red;
}
.status_NonCriminal{
    background-color: green;
}
.status_Junk{
    background-color: grey;
}
#notify{
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 10px;
    background-color: blue;
    color: white;
}